<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All cars</title>
</head>
<body>

    <h1>All Car</h1>

    <% Car.forEach((oneCar) => {%>

    <p> <a href="/car/<%= oneCar._id %>"> <%= oneCar.name    %> </a> </p>



   <% })%>




<form action="/new" >
        
        <button type="submit">create new car page</button>
        <form>


</body>
</html>